<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BOTAPLATA_ENV</key>
	<string>$(BOTAPLATA_ENV)</string>
	<key>BOTAPLATA_BASE_URL</key>
	<string>$(BOTAPLATA_BASE_URL)</string>
	<key>BOTAPLATA_CONFIGURATION</key>
	<string>$(CONFIGURATION)</string>
	<key>BOTAPLATA_NETWORK_ENVIRONMENT</key>
	<string>$(BOTAPLATA_NETWORK_ENVIRONMENT)</string>
	<key>BOTAPLATA_DEVELOPMENT_LOCAL_BASE_URL</key>
	<string>$(BOTAPLATA_DEVELOPMENT_LOCAL_BASE_URL)</string>
	<key>BOTAPLATA_DEVELOPMENT_REMOTE_BASE_URL</key>
	<string>$(BOTAPLATA_DEVELOPMENT_REMOTE_BASE_URL)</string>
	<key>BOTAPLATA_RELEASE_BASE_URL</key>
	<string>$(BOTAPLATA_RELEASE_BASE_URL)</string>
	<key>INFOPLIST_KEY_NSFaceIDUsageDescription</key>
	<string>Botaplata utilise Face ID pour verrouiller localement l’accès aux informations de votre bot.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Botaplata utilise Face ID pour verrouiller localement l’accès aux informations de votre bot.</string>
</dict>
</plist>
